name: Update gist
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 */6 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update gist
        uses: hanminsik/productive-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 7edadad5c489b05bc72513c7ce7fd005
          TIMEZONE: Asia/Seoul
